@use '../../scss/variables';

.weather-forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 10px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #e7e9ed;
    border-radius: 8px;

    .temperature {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .weather-icon {
        height: 24px;
    }
}
